@import "_variables";

.lp {
  &__button {
    font-size: 18px;
    @include font-montserrat;
    border: none;
    outline: none;
    border-radius: 4px;
    padding: 15px 20px;
    background: linear-gradient(to right, $color-atomic_tangerine, $color-brilliant-Rose);
    color: $color-white;
    cursor: pointer;
    &-bordered {
      border: 1px solid $color-black;
      background: none;
      color: $color-black;
    }
  }
}
