@import "_variables";

.lp {
  &-footer {
    padding-top: 120px;
    padding-bottom: 60px;
    &__title {
      text-align: center;
      font-weight: bold;
      font-size: 24px;
      line-height: 29px;
      margin-bottom: 30px;
    }
    &-nav {
      margin-bottom: 70px;
      &__link {
        text-decoration: none;
        color: $color-tundora;
        transition: color .4s ease-in;
        cursor: pointer;
        &:hover {
          color: $color-brilliant-Rose;
        }
      }
    }
    &-nav, &-nav__list {
      display: flex;
      justify-content: center;
      flex-direction: row;
      align-items: center;
      li {
        font-size: 14px;
        line-height: 20px;
        color: $color-tundora;
        text-transform: uppercase;
        & + li {
          padding-left: 60px;
          @media screen and (max-width: 579px) {
            padding-left: 0;
          }
        }
        @media screen and (max-width: 579px) {
          padding-bottom: 15px;
        }
      }
    }
    &__copyright {
      display: flex;
      justify-content: space-around;
      flex-direction: row;
      align-items: center;
      @media screen and (max-width: 767px) {
        flex-direction: column;
      }
      @include font-montserrat;
      color: $color-tundora;
      &-nav {
        &__list {
          display: flex;
          justify-content: center;
          flex-direction: row;
          align-items: center;
          @media screen and (max-width: 767px) {
            margin-top: 30px;
          }
          li {
            font-size: 14px;
            line-height: 20px;
            color: $color-tundora;
            text-transform: uppercase;
            & + li {
              padding-left: 20px;
              @media screen and (max-width: 579px) {
                padding-left: 0;
              }
            }
            @media screen and (max-width: 579px) {
              padding-bottom: 10px;
            }
          }
        }
        &__link {
          text-decoration: none;
          text-transform: uppercase;
          color: $color-tundora;
          &:hover {
            text-decoration: underline;
          }
        }
        &__list {
          @media screen and (max-width: 579px) {
            flex-direction: column;
          }
        }
      }
      &_info {
        @media screen and (max-width: 374px) {
          font-size: 13px;
        }
      }
    }
    &-nav {
      &__list {
        @media screen and (max-width: 579px) {
          flex-direction: column;
        }
      }
      @media screen and (max-width: 579px) {
        margin-bottom: 30px;
      }
    }
  }
}
