$color-white: white;
$color-black: black;
$color-brilliant-Rose: #FE4FA7;
$color-atomic_tangerine: #FE985B;
$color-dove-gray: #6c6c6c;
$color-tundora: #414141;
$color-mercury: #e2e2e2;
$color-polar: #F6FAFD;
